# XDG base directory
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_BIN_HOME="$HOME/.local/bin"

# At some point, I received a warning that this didn't exist
mkdir -p "$XDG_DATA_HOME/zsh"

# History configs
export HISTFILE="$XDG_DATA_HOME/zsh/history"
export HISTSIZE=1000000000
export HISTFILESIZE=1000000000
export SAVEHIST=1000000000

# ZSH
source $XDG_CONFIG_HOME/zsh/.zprofile
export ZSH_DISABLE_COMPFIX=true
export ZSH="$XDG_CONFIG_HOME/oh-my-zsh"

# Editor configs
export EDITOR="{{ .editor }}"

{{ if .is_linux -}}
export TERM="xterm-256color"
{{- end }}

# Add binaries to path
export PATH="$XDG_BIN_HOME:$PATH"
export PATH="$HOME/.krew/bin:$PATH"
export PATH="$XDG_DATA_HOME/go/bin:$PATH"
