#!/usr/bin/env bash

export PATH="$XDG_DATA_HOME/.goenv/bin:$PATH"
export GOPATH="$XDG_DATA_HOME/go"
export GOPRIVATE="{{ onepasswordRead "op://qsnl7vyyiurldcmepp6dhbdgpe/nfynlro7fkn3y5g4fjioysx34y/site" }}"
eval "$(goenv init -)"
