#!/usr/bin/env bash

export GOENV_ROOT="${XDG_DATA_HOME:-$HOME/.local/share}/.goenv"
export PATH="$GOENV_ROOT/bin:$PATH"
export GOPRIVATE="{{ onepasswordRead "op://qsnl7vyyiurldcmepp6dhbdgpe/nfynlro7fkn3y5g4fjioysx34y/site" }}"
export GOENV_PATH_ORDER=front
if command -v goenv >/dev/null 2>&1; then
  eval "$(goenv init -)"
fi
