{{- $signingkey := promptStringOnce . "git.signingkey" "Enter your GPG signing key ID" -}}

{{- $wsl := or (env "WSL_DISTRO_NAME") (env "IS_WSL") | not | not -}}
{{- $darwin := eq .chezmoi.os "darwin" -}}

sourceDir: "{{ .chezmoi.workingTree }}"
data:
  is_wsl: {{ $wsl }}
  is_darwin: {{ $darwin }}
  uname_arch: "{{ output "uname" "-m" | trim }}"

  editor: "vim"

  git:
    signingkey: {{ $signingkey | quote }}

  packages:
    wsl:
    # - asdf (installed via externals)
    # - gpg (already installed with WSL)
    - zsh
    - starship
    - eza
    - fzf
    - neofetch
    - bat
    - tmux
    - go
    - go-task
    - goreleaser
    # - git-cliff (todo: need to implement this)

    darwin:
      # taps: []
      # casks: []
      brews:
      - asdf
      - pinentry-mac
      - gpg
      - zsh
      - starship
      - eza
      - fzf
      - neofetch
      - bat
      - tmux
      - go
      - go-task
      - goreleaser
      - git-cliff

    asdf:
    - age
    - sops
    - flux2
    - kubectl
    - k9s
    - helm
    - talosctl
    - talhelper
    - terraform
    - golangci-lint

    krew:
    - ctx

    go:
    - "sigs.k8s.io/kind@latest"
    - "github.com/google/addlicense@latest"

