{{- $name := promptStringOnce . "git.name" "Enter your Full Name for Git" -}}
{{- $personalEmail := promptStringOnce . "git.email" "Enter your Personal email for Git" -}}
{{- $signingkey := promptStringOnce . "git.signingkey" "Enter your GPG signing key ID" -}}

{{- $wsl := or (env "WSL_DISTRO_NAME") (env "IS_WSL") | not | not -}}
{{- $darwin := eq .chezmoi.os "darwin" -}}

sourceDir: "{{ .chezmoi.workingTree }}"
data:
  is_wsl: {{ $wsl }}
  is_darwin: {{ $darwin }}
  uname_arch: "{{ output "uname" "-m" | trim }}"

  editor: "vim"

  git:
    name: {{ $name | quote }}
    email: {{ $personalEmail | quote }}
    signingkey: {{ $signingkey | quote }}

  packages:
    wsl:
    # - asdf (installed via externals)
    # - gpg (already installed with WSL)
    - zsh
    - starship
    - eza
    - fzf
    - neofetch
    - bat
    - tmux
    - go

    darwin:
      # taps: []
      # casks: []
      brews:
      - asdf
      - pinentry-mac
      - gpg
      - zsh
      - starship
      - eza
      - fzf
      - neofetch
      - bat
      - tmux
      - go

    asdf:
    - age
    - sops
    - flux2
    - kubectl
    - k9s
    - helm
    - talosctl
    - talhelper
    - terraform

    krew:
    - ctx

    go:
    - "sigs.k8s.io/kind@v0.21.0"

