{{- $signingkey := promptStringOnce . "git.signingkey" "Enter your GPG signing key ID" -}}
{{- $darwin := eq .chezmoi.os "darwin" -}}

sourceDir: "{{ .chezmoi.workingTree }}"
data:
  is_linux: {{ (eq .chezmoi.os "linux") }}
  is_darwin: {{ $darwin }}
  uname_arch: "{{ output "uname" "-m" | trim }}"

  editor: "vim"

  git:
    signingkey: {{ $signingkey | quote }}

  packages:
    brew:
      taps:
      - hashicorp/tap
      - siderolabs/tap
      casks:
      - font-fira-code
      - font-fira-code-nerd-font
      - font-victor-mono-nerd-font
      - font-roboto-mono-nerd-font
      brews:
      - asdf
      - gpg
      - zsh
      - starship
      - eza
      - fzf
      - fastfetch
      - bat
      - tmux
      - go
      - go-task
      - goreleaser
      - git-cliff
      - hashicorp/tap/vault
      - hashicorp/tap/terraform
      - vim
      - sops
      - kubectl
      - age
      - k9s
      - helm
      - talosctl
      - talhelper
      - minijinja-cli
      - jq
      - yq

    asdf:
    - flux2
    - golangci-lint
    - protoc

    krew:
    - ctx

    go:
    - "sigs.k8s.io/kind@latest"
    - "github.com/google/addlicense@latest"
