[includeIf "gitdir:~/Code/personal/**/.git"]
  path = ~/.config/git/.gitconfig-personal

[includeIf "gitdir:~/.local/share/chezmoi/.git"]
  path = ~/.config/git/.gitconfig-personal

[includeIf "gitdir:~/Code/work/**/.git"]
  path = ~/.config/git/.gitconfig-work

{{ (bitwarden "item" "4634d9cb-82be-485f-8a3f-5a5de9b6c523").notes }}
