[includeIf "gitdir:~/Code/personal/**/.git"]
  path = ~/.config/git/.gitconfig-personal

[includeIf "gitdir:~/.local/share/chezmoi/.git"]
  path = ~/.config/git/.gitconfig-personal

[includeIf "gitdir:~/Code/work/**/.git"]
  path = ~/.config/git/.gitconfig-work
