# NKE
credentials "{{ onepasswordRead "op://qsnl7vyyiurldcmepp6dhbdgpe/lq6yquschmxvqtghpbu7c3xvyq/host" }}" {
  token = "{{ onepasswordRead "op://qsnl7vyyiurldcmepp6dhbdgpe/lq6yquschmxvqtghpbu7c3xvyq/token" }}"
}
