#!/usr/bin/env bash

# This will attempt to install bitwarden's bws tool before any templating happens
# We do this because we want to make use of chezmoi's built-in bitwarden templating
# Otherwise, we'd just install bws as an external (normally)

VERSION="2024.1.0"

mkdir -p $HOME/.local/bin

if [[ $(command -v bw) == "" ]]; then

  {{ if .is_wsl }}
  sudo apt-get install unzip -y
  wget "https://vault.bitwarden.com/download/?app=cli&platform=linux" -O $HOME/.local/bin/bw.zip
  {{ else if .is_darwin }}
  curl -L -o $HOME/.local/bin/bw.zip "https://vault.bitwarden.com/download/?app=cli&platform=macos"
  {{ end }}

  rm $HOME/.local/bin/bw
  unzip $HOME/.local/bin/bw.zip -d $HOME/.local/bin/
  rm $HOME/.local/bin/bw.zip

fi
