#!/usr/bin/env bash

{{ if hasKey .packages "go" }}

###############################
## MAKE SURE GO IS INSTALLED ##
###############################

export GOENV_ROOT="${XDG_DATA_HOME:-$HOME/.local/share}/.goenv"
export PATH="$GOENV_ROOT/bin:$PATH"

if [[ $(command -v goenv) == "" ]]; then
  echo "goenv is not installed, please check your goenv installation."
  exit 1
fi

eval "$(goenv init -)"

GO_VERSION="{{ .go.version }}"

goenv install -s "$GO_VERSION"
goenv global "$GO_VERSION"
goenv rehash

if [[ $(command -v go) == "" ]]; then
  echo "Go is not installed, please check your Go installation."
  exit 1
else
  echo "Go is installed: $(go version)"
fi

#########################
## INSTALL GO PACKAGES ##
#########################

{{ range (.packages.go | sortAlpha | uniq) }}
echo "Installing go package: {{ . }}"
go install {{ . | quote }}
{{ end }} # end for range

{{ end }} # end for if (top)
