#!/bin/bash

{{ if .is_darwin -}}

######################
## INSTALL HOMEBREW ##
######################

if [[ $(command -v brew) == "" ]]; then
  echo "Installing Homebrew"
  brew_install_script=$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)
  CI=1 bash -c "${brew_install_script}"
fi
{{- end }}

###############################
## INSTALL ASDF DEPENDENCIES ##
###############################

# Note: asdf will be installed via externals - these are only the dependencies

if [[ $(command -v asdf) == "" ]]; then
  echo "Installing asdf prequisites"

  {{ if .is_wsl }}
    sudo apt install curl git
  {{ else if .is_darwin }}
    brew install coreutils curl git
  {{ end }}
fi
