#!/usr/bin/env bash

{{ if and .is_wsl (hasKey .packages "wsl") -}}
echo "Installing WSL packages"

######################
## INSTALL PACKAGES ##
######################

{{ range (.packages.wsl | sortAlpha | uniq) }}

######################
## CUSTOM: STARSHIP ##
######################

{{- if eq . "starship" }}
  if [[ $(command -v starship) == "" ]]; then
    echo "Installing starship"
    curl https://starship.rs/install.sh > /tmp/install-starship.sh
    chmod +x /tmp/install-starship.sh
    /tmp/install-starship.sh -b $HOME/.local/bin -y
    rm /tmp/install-starship.sh
  fi

#################
## CUSTOM: EZA ##
#################

{{- else if eq . "eza" }}
  if [[ $(command -v eza) == "" ]]; then
    echo "Installing eza"
    sudo apt install -y gpg
    sudo mkdir -p /etc/apt/keyrings
    wget -qO- https://raw.githubusercontent.com/eza-community/eza/main/deb.asc | sudo gpg --dearmor -o /etc/apt/keyrings/gierens.gpg
    echo "deb [signed-by=/etc/apt/keyrings/gierens.gpg] http://deb.gierens.de stable main" | sudo tee /etc/apt/sources.list.d/gierens.list
    sudo chmod 644 /etc/apt/keyrings/gierens.gpg /etc/apt/sources.list.d/gierens.list
    sudo apt update
    sudo apt install -y eza
  fi

################
## CUSTOM: GO ##
################

{{- else if eq . "go" }}
  if [[ $(command -v go) == "" ]]; then
    sudo add-apt-repository ppa:longsleep/golang-backports
    sudo apt update
    sudo apt install golang-go -y
  fi

#####################
## CUSTOM: GO-TASK ##
#####################

{{- else if eq . "go-task" }}
  if [[ $(command -v task) == "" ]]; then
    sh -c "$(curl --location https://taskfile.dev/install.sh)" -- -d -b ~/.local/bin
  fi

#####################
## EVERYTHING ELSE ##
#####################
{{- else }}
  sudo apt install "{{ . }}" -y
{{- end }} # end for if
{{- end }} # end for range
{{- end }} # end for if .is_wsl
