#!/bin/bash

{{ if .is_darwin -}}
grep -qxF "$(which zsh)" /etc/shells || echo "$(which zsh)" | sudo tee -a /etc/shells
{{- end }}

if [ "$SHELL" != "$(which zsh)" ]; then
  echo "Setting shell to ZSH"
  chsh -s $(which zsh)

  # warning to user to restart chezmoi
  echo "==========================================================="
  echo "= RESTART YOUR SHELL SO THAT ZSH LOADS"
  echo "==========================================================="
  exit
fi

{{ if .is_darwin -}}
grep -qF "ZDOTDIR" /etc/zshenv || echo 'export "ZDOTDIR=$HOME/.config/zsh"' | sudo tee /etc/zshenv
{{- end }}
