# created: {{ onepasswordRead "op://v3zq3xeutwehblkliml7uwkzhu/z5rmof4flse55zujvtib5qppiy/creation-date" }}
# public key: {{ onepasswordRead "op://v3zq3xeutwehblkliml7uwkzhu/z5rmof4flse55zujvtib5qppiy/public-key" }}
{{ onepasswordRead "op://v3zq3xeutwehblkliml7uwkzhu/z5rmof4flse55zujvtib5qppiy/age-secret-key" }}
