[{{ onepasswordRead "op://qsnl7vyyiurldcmepp6dhbdgpe/bovacuq6w6gl7ymj6wym2ztyvu/nke-prod-profile" }}]
region = {{ onepasswordRead "op://qsnl7vyyiurldcmepp6dhbdgpe/bovacuq6w6gl7ymj6wym2ztyvu/nke-prod-region" }}

[{{ onepasswordRead "op://qsnl7vyyiurldcmepp6dhbdgpe/bovacuq6w6gl7ymj6wym2ztyvu/nke-non-prod-profile" }}]
region = {{ onepasswordRead "op://qsnl7vyyiurldcmepp6dhbdgpe/bovacuq6w6gl7ymj6wym2ztyvu/nke-non-prod-region" }}
