[{{ onepasswordRead "op://qsnl7vyyiurldcmepp6dhbdgpe/bovacuq6w6gl7ymj6wym2ztyvu/nke-prod-profile" }}]
aws_access_key_id = {{ onepasswordRead "op://qsnl7vyyiurldcmepp6dhbdgpe/uxs3c7ojdmql5l7y4usuy5w4ja/nke-prod-access-key-id" }}
aws_secret_access_key = {{ onepasswordRead "op://qsnl7vyyiurldcmepp6dhbdgpe/uxs3c7ojdmql5l7y4usuy5w4ja/nke-prod-secret-access-key" }}

[{{ onepasswordRead "op://qsnl7vyyiurldcmepp6dhbdgpe/bovacuq6w6gl7ymj6wym2ztyvu/nke-non-prod-profile" }}]
aws_access_key_id = {{ onepasswordRead "op://qsnl7vyyiurldcmepp6dhbdgpe/uxs3c7ojdmql5l7y4usuy5w4ja/nke-non-prod-access-key-id" }}
aws_secret_access_key = {{ onepasswordRead "op://qsnl7vyyiurldcmepp6dhbdgpe/uxs3c7ojdmql5l7y4usuy5w4ja/nke-non-prod-secret-access-key" }}
