#!/usr/bin/env bash

# ls to eza
alias ls="eza -la"
alias lsg="eza -la --git --git-repos"

# cat to bat
alias cat="bat"

# remove zone identifier files
rm_zone_identifiers() {
  find $1 -name "*Zone.Identifier" -type f -delete
}
