#!/usr/bin/env bash

# ls to eza
alias ls="eza -la"
alias lsg="eza -la --git --git-repos"

# cat to bat
alias cat="bat"

# remove zone identifier files
rm_zone_identifiers() {
  find $1 -name "*Zone.Identifier" -type f -delete
}

{{ if .is_linux -}}
restart_sound() {
  systemctl --user restart wireplumber pipewire pipewire-pulse
  rm -r ~/.config/pulse
}
{{- end }}
