#!/bin/bash

# helpers
alias ls='exa -la'
alias cat='pygmentize -O style=monokai -f console256 -g' # sudo easy_install Pygments
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# fun commands
alias weather='curl -4 http://wttr.in/Miami'
alias moon='curl -4 http://wttr.in/Moon'
alias speedtest='curl -s https://raw.githubusercontent.com/sivel/speedtest-cli/master/speedtest.py | python -'

# virtualbox
alias ssh_vm_k8s="ssh carldanley@192.168.56.101"
