# general
export EDITOR=nano
export CLICOLOR_FORCE=1

# google cloud sdk
export PATH="$HOME/google-cloud-sdk/bin:$PATH"

# nvm
export NVM_DIR="$HOME/.nvm"

# mobile development
if [ -f /usr/libexec/java_home ] ; then
  export JAVA_HOME=$(/usr/libexec/java_home)
fi

if [ -f /usr/local/opt/android-sdk ] ; then
  export ANDROID_HOME=/usr/local/opt/android-sdk
fi

# prompt colors
export PROMPT='🍺  $FG[115]${PWD##*/}% $FG[001]$(get_cwd_git_status)% $FG[001]> % $FG[007]'
