#!/bin/bash

whois() {
  local domain=$(echo "$1" | awk -F/ '{print $3}') # get domain from URL

  if [ -z $domain ] ; then
    domain=$1
  fi

  echo "Getting whois record for: $domain …"

  # avoid recursion
  # this is the best whois server
  # strip extra fluff
  /usr/bin/whois -h whois.internic.net $domain | sed '/NOTICE:/q'
}

extract() {
  if [ -f "$1" ] ; then
    local filename=$(basename "$1")
    local foldername="${filename%%.*}"
    local fullpath=`perl -e 'use Cwd "abs_path";print abs_path(shift)' "$1"`
    local didfolderexist=false

    if [ -d "$foldername" ]; then
      didfolderexist=true
      read -p "$foldername already exists, do you want to overwrite it? (y/n) " -n 1
      echo

      if [[ $REPLY =~ ^[Nn]$ ]]; then
        return
      fi
    fi

    mkdir -p "$foldername" && cd "$foldername"

    case $1 in
      *.tar.bz2) tar xjf "$fullpath" ;;
      *.tar.gz) tar xzf "$fullpath" ;;
      *.tar.xz) tar Jxvf "$fullpath" ;;
      *.tar.Z) tar xzf "$fullpath" ;;
      *.tar) tar xf "$fullpath" ;;
      *.taz) tar xzf "$fullpath" ;;
      *.tb2) tar xjf "$fullpath" ;;
      *.tbz) tar xjf "$fullpath" ;;
      *.tbz2) tar xjf "$fullpath" ;;
      *.tgz) tar xzf "$fullpath" ;;
      *.txz) tar Jxvf "$fullpath" ;;
      *.zip) unzip "$fullpath" ;;
      *) echo "'$1' cannot be extracted via extract()" && cd .. && ! $didfolderexist && rm -r "$foldername" ;;
    esac
  else
    echo "'$1' is not a valid file"
  fi
}

gifify() {
  if [[ -n "$1" ]]; then
    if [[ $2 == '--good' ]]; then
      ffmpeg -i $1 -r 10 -vcodec png out-static-%05d.png
      time convert -verbose +dither -layers Optimize -resize 600x600\> out-static*.png  GIF:- | gifsicle --colors 128 --delay=5 --loop --optimize=3 --multifile - > $1.gif
      rm out-static*.png
    else
      ffmpeg -i $1 -s 600x400 -pix_fmt rgb24 -r 10 -f gif - | gifsicle --optimize=3 --delay=3 > $1.gif
    fi
  else
    echo "proper usage: gifify <input_movie.mov>. You DO need to include extension."
  fi
}

parse_git_branch() {
  git branch 2> /dev/null | sed -e '/^[^*]/d' -e 's/* \(.*\)/ (\1)/'
}

get_current_kubectl_context() {
  kubectl config current-context
}

docker_run_mysql() {
  IMAGE="mysql:5.7"
  PORT="3306"
  STORAGE_PATH="${HOME}/.dotfiles/mysql"
  ROOT_PASSWORD="root"
  CONTAINER_NAME="mysql"

  # create storage path if it doesn't exist
  [ ! -d ${STORAGE_PATH} ] && mkdir -p ${STORAGE_PATH}

  # create the docker container if it doesn't exist
  [ ! "$(docker ps -a | grep ${CONTAINER_NAME})" ] && docker run -d --name ${CONTAINER_NAME} -p ${PORT}:3306 -e MYSQL_ROOT_PASSWORD=${ROOT_PASSWORD} -v ${STORAGE_PATH}:/var/lib/mysql ${IMAGE}

  # make sure the docker container is started
  docker start ${CONTAINER_NAME}
}

docker_run_redis() {
  IMAGE="redis:alpine"
  PORT="6379"
  STORAGE_PATH="${HOME}/.dotfiles/redis"
  CONTAINER_NAME="redis"

  # create storage path if it doesn't exist
  [ ! -d ${STORAGE_PATH} ] && mkdir -p ${STORAGE_PATH}

  # create the docker container if it doesn't exist
  [ ! "$(docker ps -a | grep ${CONTAINER_NAME})" ] && docker run -d --name ${CONTAINER_NAME} -p ${PORT}:6379 -v ${STORAGE_PATH}:/data ${IMAGE}

  # make sure the docker container is started
  docker start ${CONTAINER_NAME}
}

docker_run_jaeger() {
  docker run -d --name=jaeger -e COLLECTOR_ZIPKIN_HTTP_PORT=9411 -p5775:5775/udp -p6831:6831/udp -p6832:6832/udp -p5778:5778 -p16686:16686 -p14268:14268 -p9411:9411 jaegertracing/all-in-one:latest
}

docker_run_rabbitmq() {
  IMAGE="rabbitmq:management-alpine"
  API_PORT="5672"
  ADMIN_PORT="15672"
  STORAGE_PATH="${HOME}/.dotfiles/rabbitmq"
  CONTAINER_NAME="rabbitmq"

  # create storage path if it doesn't exist
  [ ! -d ${STORAGE_PATH} ] && mkdir -p ${STORAGE_PATH}

  # create the docker container if it doesn't exist
  [ ! "$(docker ps -a | grep ${CONTAINER_NAME})" ] && docker run -d --name ${CONTAINER_NAME} --hostname ${CONTAINER_NAME} -p ${API_PORT}:5672 -p ${ADMIN_PORT}:15672 -v ${STORAGE_PATH}:/var/lib/rabbitmq/mnesia/rabbit@${CONTAINER_NAME} ${IMAGE}

  # make sure the docker container is started
  docker start ${CONTAINER_NAME}
}

docker_run_nats_streaming() {
  IMAGE="nats-streaming"
  CLIENT_PORT="4222"
  MONITORING_PORT="8222"
  STORAGE_PATH="${HOME}/.dotfiles/nats-streaming"
  CONTAINER_NAME="nats-streaming"
  CLUSTER_NAME="radium"

  # create storage path if it doesn't exist
  [ ! -d ${STORAGE_PATH} ] && mkdir -p ${STORAGE_PATH}

  # create the docker container if it doesn't exist
  [ ! "$(docker ps -a | grep ${CONTAINER_NAME})" ] && docker run -d --name ${CONTAINER_NAME} --hostname ${CONTAINER_NAME} -p ${CLIENT_PORT}:4222 -p ${MONITORING_PORT}:8222 -v ${STORAGE_PATH}:/nats-streaming-storage ${IMAGE} -store file -dir /nats-streaming-storage -DV -SDV -m 8222 -cid ${CLUSTER_NAME}
}

docker_run_minio() {
  IMAGE="minio/minio"
  PORT="9000"
  STORAGE_PATH="${HOME}/.dotfiles/minio/storage"
  CONFIG_PATH="${HOME}/.dotfiles/minio/config"
  CONTAINER_NAME="minio"
  ACCESS_KEY="root"
  SECRET_KEY="12345678"

  # create paths if it doesn't exist
  [ ! -d ${STORAGE_PATH} ] && mkdir -p ${STORAGE_PATH}
  [ ! -d ${CONFIG_PATH} ] && mkdir -p ${CONFIG_PATH}

  # create the docker container if it doesn't exist
  [ ! "$(docker ps -a | grep ${CONTAINER_NAME})" ] && docker run -d --name ${CONTAINER_NAME} -p ${PORT}:9000 -e "MINIO_ACCESS_KEY=${ACCESS_KEY}" -e "MINIO_SECRET_KEY=${SECRET_KEY}" -v ${STORAGE_PATH}:/data -v ${CONFIG_PATH}:/root/.minio ${IMAGE} server /data
}

valid_ip() {
  local  ip=$1
  local  stat=1

  if [[ $ip =~ ^[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}$ ]]; then
    OIFS=$IFS
    IFS='.'
    ip=($ip)
    IFS=$OIFS
    [[ ${ip[0]} -le 255 && ${ip[1]} -le 255 \
        && ${ip[2]} -le 255 && ${ip[3]} -le 255 ]]
    stat=$?
  fi
  return $stat
}

k8s_install_tools() {
  kubectl run tools --image=amouat/network-utils sleep 9000000
}

k8s_create_sa_and_config() {
  SERVICE_ACCOUNT_NAME=$1
  NAMESPACE=$2

  $HOME/dotfiles/extra-scripts/create-service-account-and-kube-config.sh ${SERVICE_ACCOUNT_NAME} ${NAMESPACE}
}

k8s_get_token() {
  kubectl -n kube-system describe secrets `kubectl -n kube-system get secrets | awk '/clusterrole-aggregation-controller/ {print $1}'` | awk '/token:/ {print $2}'
}

cdsl() {
  DIR="${1}"
  LINK=$(readlink ${DIR})

  if [[ "${LINK}" = "" ]]; then
    cd ${DIR}
  else
    cd ${LINK}
  fi
}
