[user]
	name = {{ .git.name }}
	email = {{ .git.email }}
  signingkey = {{ .git.signingkey }}

[init]
  defaultBranch = main

[push]
	default = current

[pull]
  rebase = true

[fetch]
  prune = true

[core]
  excludesFile = ~/.config/git/gitignore

[commit]
  template = ~/.config/git/message
  gpgSign = true

[tag]
  gpgSign = true

[blame]
  date = relative

[alias]
  st = status

[color]
	ui = auto
