[user]
  name = Carl Danley
  email = {{ onepasswordRead "op://v3zq3xeutwehblkliml7uwkzhu/wnkkswl4unplufntk23fmaxj7y/email" }}
  signingkey = {{ .git.signingkey }}

{{ onepasswordRead "op://v3zq3xeutwehblkliml7uwkzhu/wnkkswl4unplufntk23fmaxj7y/notesPlain" }}

[init]
  defaultBranch = main

[push]
  default = current

[pull]
  rebase = true

[fetch]
  prune = true

[core]
  excludesFile = ~/.config/git/gitignore

[commit]
  template = ~/.config/git/message
  gpgSign = true

[tag]
  gpgSign = true

[blame]
  date = relative

[alias]
  st = status

[color]
  ui = auto

[mergetool "vscode"]
  cmd = code --wait $MERGED

[merge]
  tool = vscode

[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE

[diff]
  tool = vscode
