[user]
	name = Carl Danley
	email = {{ (bitwardenFields "item" "4634d9cb-82be-485f-8a3f-5a5de9b6c523").email.value }}
  signingkey = {{ .git.signingkey }}

[init]
  defaultBranch = main

[push]
	default = current

[pull]
  rebase = true

[fetch]
  prune = true

[core]
  excludesFile = ~/.config/git/gitignore

[commit]
  template = ~/.config/git/message
  gpgSign = true

[tag]
  gpgSign = true

[blame]
  date = relative

[alias]
  st = status

[color]
	ui = auto

[mergetool "vscode"]
  cmd = code --wait $MERGED

[merge]
  tool = vscode

[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE

[diff]
  tool = vscode
